<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/style.css'/>
    <meta charset="UTF-8">
    <title>Title</title>
    <table>
        <tr>
            <th>Number</th>
            <th>Address</th>
            <th>Page</th>
            <th>Time</th>
            <th>Useragent</th>
            <th>Country</th>
            <th>User-Id</th>
        </tr>
        <tr>
            <td>{{ line.id }}</td>
            <td>{{ line.ip }}</td>
            <td>{{ line.page }}</td>
            <td>{{ line.time }}</td>
            <td>{{ line.user_agent }}</td>
            <td>{{ line.country }}</td>
            <td>{{ 'anonymous' if line.user_id is none else line.user_id }}</td>
        </tr>
    </table>
</head>
<body>

</body>
</html>