<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/style.css'/>
    <meta charset="UTF-8">
    <title>Title</title>
    <table>
        <tr>
            <th>Number</th>
            <th>Adress</th>
            <th>Page</th>
            <th>Time</th>
            <th>Useragent</th>
            <th>Country</th>
            <th>User-Id</th>
        </tr>
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
            <td>{{line[2]}}</td>
            <td>{{line[3]}}</td>
            <td>{{line[4]}}</td>
            <td>{{line[5]}}</td>
            <td>{{line[6]}}</td>
        </tr>
    </table>
</head>
<body>

</body>
</html>