<!DOCTYPE html>
<html>
<body>
<header>
    <link rel="stylesheet" href='/static/mystyle.css'/>
    <div class="container">
        <h1 class="logo">navigation</h1>
        <strong>
            <nav>
                <ul class="menu">
                    <li><a href="{{ url_for('last_user') }}">last</a></li>
                    <li><a href="{{ url_for('first_user') }}">first</a></li>
                    <li><a href="{{ url_for('all_users') }}">all</a></li>
                    <li><a href="{{ url_for('count') }}">count</a></li>
                    <li><a href="{{ url_for('profile') }}">profile</a></li>
                    <li><a href="{{ url_for('logout') }}">logout</a></li>
                </ul>
            </nav>
        </strong>
    </div>
</header>

</body>
</html>