<!DOCTYPE html>
<html>
<body>
<header>
    <div class="container">
        <link rel="stylesheet" href='/static/mystyle.css'/>
        <h1 class="logo">Login page</h1>
        <strong>
            <nav>
                <ul class="menu">
                    <li><a href="{{ url_for('auth') }}">Return to main page</a></li>
                </ul>
            </nav>
            <form action="" method="post">
                <p>you are already logged in, go back to the main page</p>
            </form>
        </strong>
    </div>
</header>

</body>
</html>