<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href='/static/mainpagestile.css'/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <title>python task</title>

</head>
<body>
<header>
    <div class="container">
        <h1 class="logo">navigation</h1>
        <strong>
            <nav>
                <ul class="menu">
                    <li><a href="{{ url_for('login') }}">Go To Login</a></li>
                    <li><a href="{{ url_for('anon') }}">Use as anonymous user</a></li>
                </ul>
            </nav>
        </strong>
    </div>
</header>

</body>
</html>