<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href='/static/mystyle.css'/>
    <meta charset="utf-8"/>

</head>
<body>
<form name="date" id='form' action="{{ form_url }}" method="post">
    <label for="date_begin">С </label>
    <label>
        <input type="date" name="date_begin" value="1999-01-01">
    </label>
    <label for="date_end">До </label>
    <label>
        <input type="date" name="date_end" value="2030-01-01">
    </label>

    <input type="submit" value="Выбрать"/>
</form>

<table>
    <tr>
        <th>Number</th>
        <th>Address</th>
        <th>Page</th>
        <th>Time</th>
        <th>Useragent</th>
        <th>Country</th>
        <th>User-Id</th>
    </tr>
    {% for row in table %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.ip }}</td>
            <td>{{ row.page }}</td>
            <td>{{ row.time }}</td>
            <td>{{ row.user_agent }}</td>
            <td>{{ row.country }}</td>
            <td>{{ 'anonymous' if row.user_id is none else row.user_id }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>